@*@model IJobs.Models.User
    @using Microsoft.AspNetCore.Identity
        @inject SignInManager<IJobs.Models.User> SignInManager
        @inject UserManager<IJobs.Models.User> UserManager*@

@{bool isAuthenticated = User.Identity.IsAuthenticated; }
<ul class="navbar-nav">
    @if (isAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @*@Html.DisplayNameFor(model => User.FirstName)*@!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="Home">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            @*<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>*@
            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Authenticate">Login</a>
        </li>
    }
</ul>
